.skills-container {
  background-color: var(--secondary-background);
  margin-top: 15rem;
  padding: 1rem 0;
}

.skills-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);

  justify-content: center;
  justify-items: center;
  row-gap: 6.5rem;
  max-width: 900px;
  margin: 10rem auto;

  @media (max-width: 530px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
