.hero-image {
  background-image: url(../../assets/backgrounds/header.png);
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name-block {
  display: flex;
  padding: 3rem;
  width: 600px;
  background-color: #fff;
  border-radius: 20px;
}

.wave-emoji-block {
  width: 30%;
}

.emoji-image {
  width: 140px;
  text-align: start;
}

.name-block-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: var(--font-color);
  p {
    font-size: 2rem;
  }
}

.hero-buttons {
  display: flex;
  justify-content: space-between;
  button {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .hero-image {
    height: 100vh;
  }
  .name-block {
    padding: 2rem;
    width: 400px;
  }

  .emoji-image {
    width: 100px;
    text-align: start;
  }

  .hero-buttons {
    flex-direction: column;

    button {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .name-block-txt {
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 420px) {
  .hero-image {
    height: 100vh;
  }
  .name-block {
    padding: 2rem;
    width: 320px;
  }
  .emoji-image {
    width: 60px;
    text-align: start;
  }
  .name-block-txt {
    h1 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 320px) {
  .name-block {
    padding: 2rem;
    width: 90vw;
  }
  .emoji-image {
    width: 100%;
    text-align: start;
  }
}
