.icon-container {
  display: grid;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background: #fff;
  .icon__img {
    margin: auto;
    width: 57px;
    height: 57px;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

.hyper-link {
  .icon-container {
    background-color: var(--background-color);
    width: 80px;
    height: 80px;
  }
  .icon__img {
    margin: auto;
  }
}
